<p class="text-center">
  <small>
    Payments powered by <a href="https://github.com/VenueDriver/payment-driver">Payment Driver</a><br/>
    Posting terms of services and privacy policy notices is strongly recommended.
  </small>
</p>
