Hi {{firstname}}, {{company_name}} has sent you a payment request for ${{amount}}.

Description: {{description}}

Please follow this link to make a payment:

    {{#full_app_url}}/payments?id={{id}}&created_at={{created_at}}{{/full_app_url}}
