<html>

  <head></head>

  <body>
    <p>Hi {{firstname}}, this is a notification from {{company_name}} to let you know that your payment request for {{venue}}'s of the event {{event_title}} for ${{amount}} is about to expire.</p>
  </body>

</html>
