<html>

  <head></head>

  <body>
    <p>You have sent a payment request to {{email}} for ${{amount}}.</p>
    <p>Description: {{description}}</p>
    <p>You can check the status of your payment request <a href="{{#full_app_url}}/payment-requests?id={{id}}&created_at={{created_at}}{{/full_app_url}}">here.</a></p>
  </body>

</html>
