You have sent a payment request to {{email}} for ${{amount}}.

Description: {{description}}

You can check the status of your payment request here:

    {{#full_app_url}}/payment-requests?id={{id}}&created_at={{created_at}}{{/full_app_url}}
