<html>

  <head></head>

  <body>
    <p>{{email}} has made a payment of ${{amount}}.</p>
    <p>Description: {{description}}</p>
    <p>The payment request is <a href="{{base_url}}/payment-requests?id={{id}}">here.</a></p>
  </body>

</html>
