<html>

  <head></head>

  <body>
    <p>Hi {{firstname}}, {{company_name}} has sent you a payment request for ${{amount}}.</p>
    <p>Description: {{description}}</p>
    <p>Please follow this link to <a href="{{origin}}/payments?id={{id}}">make a payment.</a></p>
  </body>

</html>
