<html>

  <head></head>

  <body>
    <p>You have sent you a payment request to {{email}} for ${{amount}}.</p>
    <p>Description: {{description}}</p>
    <p>You can check the status of your payment request <a href="{{origin}}/payment-requests?id={{id}}">here.</a></p>
  </body>

</html>
