<!DOCTYPE html>
<html>

  <head>
    <title>Payment Processed - Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      {{> header }}

      <div class="jumbotron">
        <h1>Requested</h1>
        <p class="lead">Your payment request was sent successfully.</p>

        <p>
          <a class="btn btn-primary" href="/payment-requests" role="button">continue</a>
        </p>

      </div>
    </div>

    {{> scripts }}
  </body>

</html>
