<!DOCTYPE html>
<html>

  <head>
    <title>Payment Request - Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      {{> logo }}

      <div class="jumbotron">
        <h1>Re-sent</h1>
        <p class="lead">Your payment request was re-sent successfully.</p>

        <p>
          <a class="btn btn-primary" href="/payment-requests" role="button">continue</a>
        </p>

      </div>

      {{> footer }}
    </div>

    {{> scripts }}
  </body>

</html>
