<label for="booked_by" class="cols-sm-2 control-label">Booked by</label>
<div class="input-group mb-3 ">
  <input type="text" value="{{#booked_by}}{{{booked_by}}}{{/booked_by}}" class="form-control" name="booked_by" id="booked_by">
</div>
<label for="paid_by" class="cols-sm-2 control-label">Paid by</label>
<div class="input-group mb-3 ">
  <input type="text" value="{{#paid_by}}{{{paid_by}}}{{/paid_by}}" class="form-control" name="paid_by" id="paid_by">
</div>
<label for="reservation_id" class="cols-sm-2 control-label">Reservation id</label>
<div class="input-group mb-3 ">
  <input type="text" value="{{#reservation_id}}{{{reservation_id}}}{{/reservation_id}}" class="form-control" readonly name="reservation_id" id="reservation_id">
</div>
