<label for="booked_by" class="cols-sm-2 control-label">Booked by</label>
<div class="input-group mb-3 ">
  <input type="text" value="" class="form-control" name="booked_by" id="booked_by">
</div>
<label for="paid_by" class="cols-sm-2 control-label">Paid by</label>
<div class="input-group mb-3 ">
  <input type="text" value="" class="form-control" name="paid_by" id="paid_by">
</div>
<label for="reservation_id" class="cols-sm-2 control-label">Reservation id</label>
<div class="input-group mb-3 ">
  <input type="text" value="" class="form-control" name="reservation_id" id="reservation_id">
</div>
