<!DOCTYPE html>
<html>

  <head>
    <title>Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      <img alt="Payment Driver" src="{{#full_asset_url}}/default/assets/img/Payment-Driver-logo.png{{/full_asset_url}}" class="logo" />

      <div class="jumbotron">
        <h1>Payment Driver</h1>
        <p class="lead">Ohai!</p>
      </div>
    </div>

    {{> footer }} {{> scripts }}
  </body>

</html>
