<!DOCTYPE html>
<html>

  <head>
    <title>Send Payment Request - Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      {{> logo }}

      <form method="post" action="{{#full_app_url}}login{{/full_app_url}}" data-toggle="validator" id="loginForm">
        <fieldset>
          {{^ message }}
          <legend>Please log in</legend>
          {{/ message }}
          {{# message }}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {{/ message }}

          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" id="username" value="{{ username }}" required />
          </div>

          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" id="password" value="{{ password }}" required />
          </div>

          {{#new_password}}
          <label for="lastname" class="cols-sm-2 control-label">New Password</label>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="new_password" id="new_password" required />
          </div>
          {{/new_password}}

          <button class="btn btn-large btn-primary" type="submit">log in</button>
        </fieldset>
      </form>

      {{> footer }}
    </div>

    {{> scripts }}
  </body>

</html>
