<!DOCTYPE html>
<html>

<head>
  <title>Send Payment - Payment Driver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{> head }}
</head>

<body>

  <div class="container">
    <img alt="Payment Driver" src="{{#full_theme_asset_url}}assets/img/logo.png{{/full_theme_asset_url}}" class="logo" />

    <form method="post" action="{{#full_app_url}}payments{{/full_app_url}}">
      <input type="hidden" name="payment_request_id" id="payment_request_id" value="{{id}}" />
      <input type="hidden" name="payment_request_created_at" id="payment_request_created_at" value="{{created_at}}" />
      <fieldset>
        <div class="d-flex w-100 justify-content-between">
          {{#paid}}
          <legend>Payment request</legend>
            <div>
              <span class="badge badge-success badge-pill">PAID</span>
            </div>
          {{/paid}}
          {{^paid}}
          <legend>Please provide payment</legend>
          {{/paid}}
        </div>

        {{#paid}}
        <p>Paid {{paid_at_moment}}</p>
        {{/paid}}

        <label for="display_amount" class="cols-sm-2 control-label">Payment Amount</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="display_amount" id="display_amount" value="{{total}}" readonly />

        </div>

        <label for="description" class="cols-sm-2 control-label">Notes</label>
        <div class="input-group mb-3">
          <textarea class="form-control" name="description" id="description">{{description}}</textarea>
        </div>


        {{{additional_fields_partial}}}

        <!-- <label for="display_amount" class="cols-sm-2 control-label">Paid by</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="paid_by" id="display_amount" value="{{firstname}} {{lastname}}"  />
        </div>

        <label for="display_amount" class="cols-sm-2 control-label">Booked By</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="booked_by" id="display_amount" value="{{firstname}} {{lastname}}"  />
        </div>

        <label for="display_amount" class="cols-sm-2 control-label">Reservation ID</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="reservation_id" id="display_amount" value=""  />
        </div> -->




        {{^paid}}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{#handler}}{{#env}}{{STRIPE_PUBLISHABLE_KEY}}{{/env}}{{/handler}}"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true"
          data-label="Pay Now">
        </script>
        {{/paid}}
      </fieldset>
    </form>
  </div>
  </div>

  {{> scripts }}
</body>

</html>
