<!DOCTYPE html>
<html>

  <head>
    <title>Payment Edited - Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      <img alt="Payment Driver" src="{{#full_theme_asset_url}}assets/img/logo.png{{/full_theme_asset_url}}" class="logo" />

      <div class="jumbotron">
        <h1>Success</h1>
        <p class="lead">Your payment request was edited succesfully.</p>
      </div>
    </div>

    {{> scripts }}
  </body>

</html>
