<!DOCTYPE html>
<html>

  <head>
    <title>Payment Request - Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      {{> logo }}

      <form method="post" action="{{#full_app_url}}/payment-requests{{/full_app_url}}" data-toggle="validator">
        <fieldset>
          <div class="d-flex w-100 justify-content-between">
            <legend>Payment request</legend>
            {{#paid}}
            <div>
              <span class="badge badge-success badge-pill">PAID</span>
            </div>
            {{/paid}}
            {{^paid}}
            <div>
              <span class="badge badge-secondary badge-pill">UNPAID</span>
            </div>
            {{/paid}}
          </div>

          {{#paid}}
          <p>Paid {{paid_at_moment}}</p>
          {{/paid}}

          <div class="form-group has-feedback">
            <label for="amount" class="cols-sm-2 control-label">Payment amount</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" name="amount" id="amount" value="{{amount}}" readonly />
            </div>
          </div>

          <label for="firstname" class="cols-sm-2 control-label">Customer first name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="firstname" id="firstname" value="{{firstname}}" readonly />
          </div>

          <label for="lastname " class="cols-sm-2 control-label">Customer last name</label>
          <div class="input-group mb-3">
            <input type="text " class="form-control" name="lastname" id="lastname " value="{{lastname}}" readonly />
          </div>

          <label for="email " class="cols-sm-2 control-label ">Customer email</label>
          <div class="input-group mb-3">
            <input type="email " class="form-control" name="email" id="email" value="{{email}}" readonly />
          </div>

          <div class="form-group ">
            <label for="account " class="cols-sm-2 control-label">Account to allocate payment</label>
            <div class="input-group mb-3">
              <input type="account" class="form-control" name="account" id="account" value="{{account}}" readonly />
            </div>
          </div>

          <label for="requestor" class="cols-sm-2 control-label">Requestor (your) email</label>
          <div class="input-group mb-3 ">
            <input type="email" class="form-control" name="requestor" id="requestor " value="{{requestor}}" readonly />
          </div>

          <label for="description" class="cols-sm-2 control-label">Description</label>
          <div class="input-group mb-3 ">
            <textarea class="form-control" name="description" id="description" readonly>{{description}}</textarea>
          </div>

          {{{additional_fields_partial}}}


          <!-- {{#params}}
          <label for="description" class="cols-sm-2 control-label">Booked by</label>
          <div class="input-group mb-3 ">
            <input type="text" value="{{params.booked_by}}" class="form-control" name="booked_by" id="booked_by" readonly>
          </div>
          <label for="description" class="cols-sm-2 control-label">Paid by</label>
          <div class="input-group mb-3 ">
            <input type="text" value="{{params.paid_by}}" class="form-control" name="paid_by" id="paid_by" readonly>
          </div>
          <label for="description" class="cols-sm-2 control-label">Reservation id</label>
          <div class="input-group mb-3 ">
            <input type="text" value="{{params.reservation_id}}" class="form-control" name="reservation_id" id="reservation_id" readonly>
          </div>
          {{/params}} -->




          {{#paid}}
          <div class="form-group has-feedback">
            <label for="amount" class="cols-sm-2 control-label">Payment ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="payment_id" id="payment_id" value="{{payment_id}}" readonly />
            </div>
          </div>

          <div class="form-group has-feedback">
            <label for="amount" class="cols-sm-2 control-label">Payment timestamp</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="paid_at_moment" id="paid_at" value="{{paid_at}}" readonly />
            </div>
          </div>
          {{/paid}}

          <a class="btn btn-secondary" href="{{#full_app_url}}/payment-requests{{/full_app_url}}" role="button">back</a>
          {{^paid}}
          <a class="btn btn-primary" href="{{#full_app_url}}/payment-requests-resend?id={{id}}&created_at={{created_at}}{{/full_app_url}}" role="button">re-send</a>
          {{/paid}}
        </fieldset>
      </form>

      {{> footer }}
    </div>

    {{> scripts }}
  </body>

</html>
