<!DOCTYPE html>
<html>

  <head>
    <title>Send Payment Request - Payment Driver</title>
    {{> head }}
  </head>
  
  <body>
    
    <div class="container">
      {{> logo }}
      {{> navbar }}

      <div class="d-flex w-100 justify-content-between payments-title align-items-center">
        <h1>Payment Requests</h1>
        <div>
          <a class="btn btn-primary" href="{{#full_app_url}}/payment-requests-new{{/full_app_url}}" role="button">create new</a>
        </div>
      </div>
      <label>Search for payments by email
      <input type="text" id="emailSearch">

      </label>

      <div class="d-flex w-100 justify-content-between payments-title align-items-center">
        <h2 class="mb-1">Soon To Expire Requests</h2>
        <div class="controlContainer" id="soonControlsContainer">
          <span class="back" id="soonBack"><</span><span class="current" id="soonCurrent"></span><span class="separator">/</span><span class="paymentsTotal" id="soonTotal"></span><span class="forward" id="soonForward">></span>
          <input style="display:none" class="value"  id="soonValue" type="number" min="1">
        </div>
      </div>

      <p id="soonToExpirePaymentsContainer">
        <ul id="soonToExpirePayments" class="list-group">

        </ul>
      </p>

      <div class="d-flex w-100 justify-content-between payments-title align-items-center">
        <h2 class="mb-1">Long To Expire Requests</h2>
        <div class="controlContainer" id="longControlsContainer">
          <span class="back" id="longBack"><</span><span class="current" id="longCurrent"></span><span class="separator">/</span><span class="paymentsTotal" id="longTotal"></span><span class="forward" id="longForward">></span>
          <input style="display:none" class="value" id="longValue" type="number" min="1">
        </div>
      </div>
      <p id="longToExpirePaymentsContainer">
        <ul id="longToExpirePayments" class="list-group">
        
        </ul>
      </p>

      <div class="d-flex w-100 justify-content-between payments-title align-items-center">
        <h2 class="mb-1">Expired Requests</h2>
        <div class="controlContainer" id="expiredControlsContainer">
          <span class="back" id="expiredBack"><</span><span class="current" id="expiredCurrent"></span><span class="separator">/</span><span class="paymentsTotal" id="expiredTotal"></span><span class="forward" id="expiredForward">></span>
          <input style="display:none" class="value" min="1" id="expiredValue" type="number">
        </div>
      </div>
      <p id="expiredPaymentsContainer">
        <ul id="expiredPayments" class="list-group">
        </ul>
      </p>

      {{> footer }}
    </div>

    {{> scripts }}

    <script type="text/javascript">
    var expiredPayments = [{{{expiredPayments}}}], longToExpirePayments = [{{{longToExpirePayments}}}], soonToExpirePayments = [{{{soonToExpirePayments}}}];
    var increment = 5;
    var displayedExpired = filterPayments(expiredPayments);
    var displayedLong = filterPayments(longToExpirePayments);
    var displayedSoon = filterPayments(soonToExpirePayments);
    
    function filterPayments(data , email = null){
      if(email){
        data = data.filter( function(obj){
          var result = false;
          if (obj.email && obj.email.includes(email)){
            result = true;
          }
          return result;
        });
      }

      data = data.map( obj => {
        return returnFormedElement(obj);
      });

      return data;
    }

    function returnArrayPortion(index, data , quantity ){
      var resultingData = "";

      
      if( index === 1){
        var diffIndex = 0;
      } else {
        var diffIndex = index - 1;
      }

      if(data.length >= (diffIndex*quantity)){
        for( var i = (quantity*diffIndex) ; i < (quantity*index) ; i++){
          if(data[i]){
            resultingData += data[i];
          }
        }
      }
      
      return resultingData;
    }

    function returnFormedElement(obj){
      var req100='https://';
      var stage = "{{{environment}}}";
      if(stage === 'staging'){
        req100 += 'staging.';
      }
      req100+= 'venuedriver.com/api/reservations/'+obj.reservation_id+'/payments/request';

      var req50 = req100 + '?percentage=50';

      obj.email = obj.email ? obj.email : "No Email";
      obj.description = obj.description ? obj.description : "No Description";

      var element = '<div class="list-group-item flex-column align-items-start">'+
      '<div class="d-flex w-100 justify-content-between align-items-center">'+
      '<div><h5 class="mb-1">'+obj.email+'</h5>'+
      '<small>$'+obj.amount+'</small>';
      if(obj.paid){
        element += '<span class="badge payment-badge badge-success badge-pill">PAID</span>';
      } else {
        element += '<span class="badge payment-badge badge-secondary badge-pill">UNPAID</span>';
      }
      element += '<div><small>'+obj.created_at_moment+'</small></div>'+
      '<div><p class="mb-1">'+obj.description+'</p></div></div>'+
      '<div class="payment__inner-container">'+
      '<div><a class="btn btn-primary" href="{{#full_app_url}}payment-requests?id='+obj.id+'&created_at='+obj.created_at_escaped+'{{/full_app_url}}" role="button">Resend</a></div>'+
      '<div class="recreate-payment__container">'+
      '<div><a target="_blank" class="btn btn-info" href="'+req50+'" role="button">Recreate 50%</a></div>'+
      '<div><a target="_blank" class="btn btn-info" href="'+req100+'" role="button">Recreate 100%</a></div>'+
      '</div></div>'+
      '</div>'+
      '</div>';
      return element; 
    }

    function checkArrowAvailability(container){
      var val = container.find('.value').first().val();
      if(val <= 1){
        container.find('.back').first().addClass('disabled');
      } else {
        container.find('.back').first().removeClass('disabled');
      }

      if( val >= container.find('.value').first().attr('max')){
        container.find('.forward').first().addClass('disabled');
      } else {
        container.find('.forward').first().removeClass('disabled');
      }
    }

    function calculateMax(data,increment){
      return Math.ceil(data.length/increment);
    }

    function updatePaymentsDisplayed(){
      $('.value').each(function(){
        $(this).val(1);
      })

      $('#expiredPayments,#longToExpirePayments,#soonToExpirePayments').empty();
      $('#expiredPayments').append(returnArrayPortion($('#expiredValue').val(),displayedExpired,increment));
      $('#longToExpirePayments').append(returnArrayPortion($('#longValue').val(),displayedLong,increment));
      $('#soonToExpirePayments').append(returnArrayPortion($('#soonValue').val(),displayedSoon,increment));

      
      if(displayedExpired.length > 0){
        $('#expiredControlsContainer').css('display','block');
        var max = calculateMax(displayedExpired,increment);
        $('#expiredControlsContainer').find('.value').first().attr('max',max);
        checkArrowAvailability($('#expiredControlsContainer'));
        $('#expiredTotal').empty().append(max);
      } else {
        $('#expiredControlsContainer').css('display','none');
        $('#expiredPayments').append('No Payments Found');
      }

      if(displayedLong.length > 0){
        $('#longControlsContainer').css('display','block');
        var max = calculateMax(displayedLong,increment);
        $('#longControlsContainer').find('.value').first().attr('max',max);
        $('#longTotal').empty().append(max);
        checkArrowAvailability($('#longControlsContainer'));
      } else {
        $('#longControlsContainer').css('display','none');
        $('#longToExpirePayments').append('No Payments Found');
      }

      if(displayedSoon.length > 0){
        $('#soonControlsContainer').css('display','block');
        var max = calculateMax(displayedSoon,increment);
        $('#soonControlsContainer').find('.value').first().attr('max',max);
        $('#soonTotal').empty().append(max);
        checkArrowAvailability($('#soonControlsContainer'));
      } else {
        $('#soonControlsContainer').css('display','none');
        $('#soonToExpirePayments').append('No Payments Found');
      }

      $('.current').each(function(){
        $(this).empty().append('1');
      })
    }

    jQuery(document).ready(function(){
        (function($){

          updatePaymentsDisplayed();

          $('.back').on('click',function(){
            var container = $(this).closest('.controlContainer');
            var input = $(container).find('.value').first();
            var oldValue = $(input).val();
            var inputId = $(input).attr('id');
            document.getElementById(inputId).stepDown();
            var newValue = $(input).val();
            if(oldValue !== newValue){
              $(container).find('.current').first().empty().append(newValue);
              $(input).trigger('change');
            }
          });

          $('.forward').on('click',function(){
            var container = $(this).closest('.controlContainer');
            var input = $(container).find('.value').first();
            var oldValue = $(input).val();
            var inputId = $(input).attr('id');
            document.getElementById(inputId).stepUp();
            var newValue = $(input).val();
            if(oldValue !== newValue){
              $(container).find('.current').first().empty().append(newValue);
              $(input).trigger('change');
            }
          });

          $('.value').on('change',function(){
            checkArrowAvailability($(this).closest('.controlContainer'));
          });


          $('#soonValue').on('change',function(){
            $('#soonToExpirePayments').empty().append(returnArrayPortion($('#soonValue').val(),displayedSoon,increment));
          });

          $('#longValue').on('change',function(){
            $('#longToExpirePayments').empty().append(returnArrayPortion($('#longValue').val(),displayedLong,increment));
          });

          $('#expiredValue').on('change',function(){
            $('#expiredPayments').empty().append(returnArrayPortion($('#expiredValue').val(),displayedExpired,increment));
          });

          $('#emailSearch').on('input change',function(){
            var val = $(this).val();

            displayedExpired = filterPayments(expiredPayments,val);
            displayedLong = filterPayments(longToExpirePayments,val);
            displayedSoon = filterPayments(soonToExpirePayments,val);

            updatePaymentsDisplayed();
          });

        })(jQuery)
    });

    </script>
  </body>

</html>
