<!DOCTYPE html>
<html>

  <head>
    <title>Payment Processed - Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      <img alt="Payment Driver" src="{{assets_host}}/default/assets/img/Payment-Driver-logo.png" class="logo" />

      <div class="jumbotron">
        <h1>Thank you</h1>
        <p class="lead">Your payment was processed successfully.</p>
      </div>
    </div>

    {{> scripts }}
  </body>

</html>
