<!DOCTYPE html>
<html>

  <head>
    <title>Payment Error - Payment Driver</title>
    {{> head }}
  </head>

  <body>

    <div class="container">
      <img alt="Payment Driver" src="{{#full_asset_url}}/assets/img/logo.png{{/full_asset_url}}" class="logo" />

      <div class="jumbotron">
        <h1>Error</h1>
        <p class="lead">There was an error processing your payment:</p>
        <p id="error">{{ error }}</p>
        <a id="try-again" class="btn btn-primary" href="#" role="button" onclick="history.back()">Try again</a>
      </div>
    </div>

    {{> scripts }}
  </body>

</html>
