<html>

  <head></head>

  <body>
    <h1>Thank you</h1>
    <p>You have made a payment to {{company_name}} of ${{amount}}.</p>
    <p>Description: {{description}}</p>
    <p>{{requestor}} has been notified of the payment.</p>
  </body>

</html>
